.container {
  display: flex;
  padding: 20px;
}

.left-panel {
  width: 30%;
  padding-right: 20px;
}

.right-panel {
  width: 70%;
  padding-left: 20px;
  border-left: 1px solid #ccc;
}

select, textarea, input[type="number"], button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box; /* Include padding and border in the element's width and height */
}

button {
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

form {
  margin-top: 15px;
}

.review {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
}

h2 {
  color: #333;
}
